* {
  box-sizing: border-box;
  /* 在X5新内核Blink中，在排版页面的时候，会主动对字体进行放大，会检测页面中的主字体，当某一块字体在我们的判定规则中，认为字号较小，并且是页面中的主要字体，就会采取主动放大的操作。然而这不是我们想要的，可以采取给最大高度解决 */
  max-height: 100000px;
}

*:before,
*:after {
  box-sizing: border-box;
  max-height: 100000px;
}

*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
textarea,
td {
  border: 0 none;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

em,
strong {
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f2f2f2;
  font-size: 0.4rem;
  width: 100%;
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
}

.font-size-primary {
  font-size: 0.4rem;
}
.font-size-content {
  font-size: 0.3rem;
}
.font-size-secondary {
  font-size: 0.2rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.co_bg_common{
  background: rgb(242, 242, 242);
}

.co_black{
  color: rgb(1,0,3);
}
.co_bd_black{
  border-width: 1px;
  border-style: solid;
  border-color: rgb(1,0,3);
}
.co_bg_black{
  background: rgb(1,0,3);
}
.co_white{
  color: #fff;
}
.co_bd_white{
  border-color: #fff;
}
.co_bg_white{
  background: #fff;
}
.co_red{
  color: #F43530;
}
.co_bd_red{
  border-color: #F43530;
}
.co_bg_red{
  background: #F43530;
}

.border_style{
  border-style: solid;
}

a {
  text-decoration: none;
}
.box {
  position: relative;
  max-width: 10rem;
  margin: 0 auto;
}
.navRoot {
  width: 100%;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.01rem solid #ccc;
  background: #f2f2f2;
}

.navLink {
  font-size: 0.42rem;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  color: #666;
}
.navLink.active {
  color: #1abc9c;
}
.navLinkIco {
  display: block;
  margin-bottom: 0.1rem;
}

.navLinkText {
  display: block;
  line-height: 1;
  font-size: 0.14rem;
}

.img-responsive {
  width: 100%;
}
